<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>show_users</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'show_users/css/show.css' %}">
</head>
<body>
    <h1>User {{ user.id }}</h1>
    <table>
        <tr>
            <td>Full Name: {{ user.first_name }} {{ user.last_name }}</td>
        </tr>

        <tr>
            <td>Email: {{ user.email }}</td>
        </tr>

        <tr>
            <td>Created at: {{ user.created_at }}</td>
        </tr>
    </table>
    <a href="/{{ user.id }}/edit">Edit</a> | <a href="/{{ user.id }}/destroy">Delete</a>
</body>
</html>